<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-MX" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% include meta.html %}
  {% include favicon.html %}
</head>
<body>
  {% include header.html %}
  
  <main class="home">
    
    <div class="intro">
      {{ content }}
    </div>

    <div class="content">
      <div class="content-main columns">
        {% for category in site.categories %}
        {% assign n = forloop.index | minus: 1 %}
        <div>
          <h2>
            {% if category[0] == "notas" %}
              {% include icons/notas.svg %}
            {% else %}
              {% include icons/ejemplos.svg %}
            {% endif %}
            {{ category[0] | capitalize }}
          </h2>
          <p>{{ site.cats[n] }}</p>
          <p><a href="{{ category[0] | lowecase }}">Ver todos</a>.</p>
        </div>
        <div>
          {% for post in category[1] %}
            {% include post-summary.html titletag="h3" %}
          {% endfor %}
        </div>
        {% endfor %}
          
        
      </div>

    </div>
  </main>

  {% include footer.html %}
</body>
</html>