footer{
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: auto auto 0;
  padding: 2rem;
  color: var(--bg3);
  display: flex;
  justify-content: space-between;

  p{
    margin-bottom: 0;

    &:last-child{
      text-align: right;
    }
  }

  a{
    color: var(--txt);

    &:hover{
      color: var(--acc);
    }

  }

  @media (min-width: 64rem){
    max-width: 60rem;
  }

  @media (max-width: 30rem){
    display: block;
    padding: 2rem 1rem;

    p{
      margin-bottom: 1rem;
      text-align: center;
  
      &:last-child{
        text-align: center;
      }

      a:first-of-type::after{
        content: " •";
        color: var(--bg3);
      }
    }

    br{
      display: none;
    }
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 2rem;
    height: 1px;
    width: calc(100% - 4rem);
    background: var(--bg3);
    opacity: .5;

    @media (max-width: 30rem){
      left: 1rem;
      width: calc(100% - 2rem);
    }
  }

  

}