header{
    padding: 0 calc(50vw - 20rem);
    background: var(--bg1);
    color: var(--txt);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: $shadow-soft;
  
    @media (min-width: 64rem){
      padding: 0 calc(50vw - 30rem);
    }
  
    @media (max-width: 49rem){
      display: block;
    }
  
    > *{
      margin: 0 2rem;

      @media (max-width: 30rem){
        margin: 0 1rem;
      }
    }
  
    .logo{
      margin: 1rem 0;
      height: 3rem;
      width: auto;
      display: block;
      transform-box: fill-box;
  
      path{
        fill: var(--txt);

        &.esc,
        &.letter:not(.y){
          fill: var(--acc);
        }
      }

      @media (prefers-color-scheme: dark) {
        path{
          &.letter:not(.y){
            fill: var(--txt);
          }
          &.y{
            fill: var(--acc);
          }
        }
      }
  
      &.bigger{
        height: 3rem;
      }

      path:nth-child(3){
        transform: scale(1);
      }

      &:hover{
        path.key{
          transform-origin: 50% 50%;
          transform-box: fill-box;
          position: relative;
        }
        path:nth-child(2){ animation: lights 350ms 1;  animation-delay: 0; }
        path:nth-child(3){ animation: lights 350ms 1;  animation-delay: 50ms; }
        path:nth-child(4){ animation: lights 350ms 1;  animation-delay: 100ms; }
        path:nth-child(5){ animation: lights 350ms 1;  animation-delay: 150ms; }
        path:nth-child(6){ animation: lights 350ms 1;  animation-delay: 200ms; }
        path:nth-child(7){ animation: lights 350ms 1;  animation-delay: 250ms; }
        path:nth-child(8){ animation: lights 350ms 1;  animation-delay: 300ms; }

        // path:nth-child(3){ animation: typing 400ms infinite;  animation-delay: 0; }
        // path:nth-child(5){ animation: typing 400ms infinite;  animation-delay: 40ms; }
        // path:nth-child(6){ animation: typing 400ms infinite;  animation-delay: 80ms; }
        // path:nth-child(4){ animation: typing 400ms infinite;  animation-delay: 120ms; }
        // path:nth-child(8){ animation: typing 400ms infinite;  animation-delay: 160ms; }
        // path:nth-child(7){ animation: typing 400ms infinite;  animation-delay: 200ms; }
        // path:nth-child(2){ animation: typing 400ms infinite;  animation-delay: 240ms; }
      }
      
    }
  
  }

  // @keyframes typing{
  //   0%{
  //     transform: translateY(2px) scale(.8);
  //   }
  //   100%{
  //     transform: translateY(0) scale(1);
  //   }
  // }

  @keyframes lights{
    0%, 90%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }