header{
    padding: 0 calc(50vw - 20rem);
    background: var(--bg1);
    color: var(--txt);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: $shadow-soft;
  
    @media (min-width: 64rem){
      padding: 0 calc(50vw - 30rem);
    }
  
    @media (max-width: 49rem){
      display: block;
    }
  
    > *{
      margin: 0 2rem;

      @media (max-width: 30rem){
        margin: 0 1rem;
      }
    }
  
    .logo{
      margin: 1rem 0;
      height: 3rem;
      width: auto;
      display: block;
      transform-box: fill-box;
  
      path{
        fill: var(--txt);

        &.esc,
        &.letter:not(.y){
          fill: var(--acc);
        }
      }

      @media (prefers-color-scheme: dark) {
        path{
          &.letter:not(.y){
            fill: var(--txt);
          }
          &.y{
            fill: var(--acc);
          }
        }
      }
  
      &.bigger{
        height: 3rem;
      }

      &:hover{
        path.key:not(esc){
          transform-origin: 50% 50%;
          transform-box: fill-box;
        }
        path:nth-child(6){ animation: typing 1000ms infinite;  animation-delay: 0}
        path:nth-child(3){ animation: typing-2 1000ms infinite;  animation-delay: 100ms}
        path:nth-child(4){ animation: typing-2 1000ms infinite;  animation-delay: 200ms}
        path:nth-child(7){ animation: typing-2 1000ms infinite;  animation-delay: 300ms}
        path:nth-child(10){ animation: typing 1000ms infinite;  animation-delay: 400ms}
        path:nth-child(12){ animation: typing 1000ms infinite;  animation-delay: 500ms}
        path:nth-child(9){ animation: typing-2 1000ms infinite;  animation-delay: 600ms}
        path:nth-child(5){ animation: typing-2 1000ms infinite;  animation-delay: 700ms}
        path:nth-child(8){ animation: typing-2 1000ms infinite;  animation-delay: 800ms}
        path:nth-child(11){ animation: typing 1000ms infinite;  animation-delay: 900ms}
      }
      
    }
  
  }

  @keyframes typing{
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes typing-2{
    0%{
      opacity: .5;
    }
    10%{
      opacity: 1;
    }
    49%{
      opacity: 1;
    }
    50%{
      opacity: .5;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }