nav{
  display: flex;
  justify-content: start;
  align-items: stretch;
  font-weight: bold;

    ul{
      display: flex;
      justify-content: start;
      align-items: stretch;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    

    @media (max-width: 64rem){
        justify-content: stretch;

        ul{
          justify-content: space-between;
          width: 100%;
        }
    }

    li{
      margin-right: 1rem;
      display: flex;
      justify-content: start;
      align-items: stretch;
    }
  
    a{
      color: var(--txt);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      text-decoration: none;

      @media (max-width: 49rem){
        padding-bottom: 1rem;
      }

      .icon{
        position: static;
        width: .8rem;
        height: .8rem;
        
        path, rect{
          fill: var(--bg3);
          opacity: .5;
        }
      }
  
      &:hover{
        color: var(--acc);

        .icon{
          path, rect{
            fill: currentColor;
            opacity: 1;
          }
        }
      }
  
      &.current{
        position: relative;
        color: var(--txt);
  
        &:hover{
          color: var(--txt);
        }
  
        &::after{
          position: absolute;
          content: "";
          bottom: 0;
          left: -.5rem;
          right: -.5rem;
          height: .25rem;
          background: var(--acc);
        }
        
      }

      
  
    }
  
  }

  @media (max-width: 580px){
    nav{
      display: none;
      position: fixed;
      top: 6rem;
      background: var(--bg1);
      box-shadow: $shadow-soft;
      right: 0;

      & ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }
  
      & li{
        margin: 0;
        padding: 0;
      }
  
      & a{
        padding: 1rem 2rem;

        &.current::after{
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: unset;
          height: 100%;
          width: .25rem;
          background: var(--acc);
        }
      }

    }

    .menu-toggle{
      display: block;
      width: 2rem;
      height: 2rem;
      background: var(--txt) url(/assets/img/toggle.png);
      background-position: top left;
      background-size: 200%;
      box-shadow:0 0 0 2px var(--bg1), 0 0 0 2px var(--bg1) inset;
      align-self: center;
      cursor: pointer;

      @media (prefers-color-scheme: dark){
        background-position: top right;
      }
    }

    .show-menu{

      nav{
        display: flex;
      }

      .menu-toggle{
        background-position: bottom left;
        @media (prefers-color-scheme: dark){
          background-position: bottom right;
        }
      }
    }

  }
