$radius: .25rem;

$font-size-1: 2.4rem;
$font-size-2: 1.56rem;
$font-size-3: 1.25rem;
$font-size-4: 1rem;
$font-size-small: .8rem;

$shadow-soft: 0 .25rem 2rem var(--shd);

html{
  --acc: #f03;
  --txt: #2A3258;
  --bg1: #FFF;
  --bg2: #F0F1F4;
  --bg3: #7B819D;
  --bg4: #F0F1F4;
  --shd: rgba(42, 50, 88, .15);
  --hig: #F6F7F9;

  @media (prefers-color-scheme: dark) {
      --acc: #f03;
      --txt: #D8D9E0;
      --bg1: #303651;
      --bg2: #52597A;
      --bg3: #8D91A6;
      --bg4: #222841;
      --shd: rgba(6, 9, 23, .45);
      --hig: #1C2136;
  }

}