// FONT

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// OTHER VARIABLES

$radius: .25rem;

$font-size-1: 2.4rem;
$font-size-2: 1.56rem;
$font-size-3: 1.25rem;
$font-size-4: 1rem;
$font-size-small: .8rem;

$shadow-soft: 0 .25rem 2rem var(--shd);

// --RESET AND BASIS

*, ::before, ::after{
  box-sizing: border-box;
}

html{
  font-size: 20px;
  
  --acc: #f03;
  --txt: #2A3258;
  --bg1: #FFF;
  --bg2: #F0F1F4;
  --bg3: #7B819D;
  --bg4: #F0F1F4;
  --shd: rgba(42, 50, 88, .15);

  @media (prefers-color-scheme: dark) {
      --acc: #f03;
      --txt: #F0F1F4;
      --bg1: #373B4B;
      --bg2: #7B819D;
      --bg3: #F0F1F4;
      --bg4: #1B1E2B;
      --shd: rgba(0, 0, 0, .45);
  }

}

// BASIC ELEMENTS

body{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: "Karla",sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--txt);
  background: var(--bg1);

}

h1{
  font-size: $font-size-1;
  line-height: 1.05;
}

h2{
  font-size: $font-size-2;
  line-height: 1.1;
}

h3{
  font-size: $font-size-3;
  line-height: 1.2;
}

h4{
  font-size: $font-size-4;
}

h5{
  font-size: $font-size-small;
  text-transform: uppercase;
  color: var(--bg3);
}

p, h1, h2, h3, h4, h5{
  margin-top: 0;
  margin-bottom: 1rem;
}

.content-main{

  h1, h2, h3, h4{
    font-weight: 600;
  
    &:not(:first-child){
      margin-top: 2rem;
    }
  }

}


p:last-child{
  margin-bottom: 0;
}

small, .small{
  font-size: $font-size-small;
}

a{
  color: var(--txt);
  text-decoration: none;

  &:hover{
    color: var(--acc);
  }
}

/* --HEADER */

header{
  padding: 0 calc(50vw - 20rem);
  background: var(--bg1);
  color: var(--txt);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: $shadow-soft;

  @media (min-width: 64rem){
    padding: 0 calc(50vw - 30rem);
  }

  @media (max-width: 49rem){
    display: block;
  }

  > *{
    margin: 0 2rem;
  }

  .logo{
    margin: 1rem 0;
    height: 2rem;
    width: auto;
    display: block;

    path{
      fill: currentColor;
    }

    &.bigger{
      height: 3rem;
    }
  }

}

/* --NAV */

nav{

  ul{
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 49rem){
      width: 100%;
      justify-content: space-between;
    }
  }

  li{
    margin-right: 1rem;
  }

  a{
    color: var(--txt);
    display: block;
    padding: 0 0 .5rem;
    text-decoration: none;

    &:hover{
      color: var(--acc);
    }

    &.current{
      position: relative;
      color: var(--txt);

      &:hover{
        color: var(--txt);
      }

      &::after{
        position: absolute;
        content: "";
        bottom: 0;
        left: -.5rem;
        right: -.5rem;
        height: .25rem;
        background: var(--acc);
      }
      
    }

  }

}

/* --MAIN */

main{
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 40rem;

  @media (min-width: 64rem){
    max-width: 60rem;
  }

  .title{
    @media (min-width: 64rem){
      margin-bottom: 2rem;
    }
  }

  .content{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (min-width: 64rem){
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

  }

  .content-main{
    width: 100%;
    max-width: 40rem;
    order: 2;

    a{
      text-decoration: underline;
    }
  }

}

.content-meta{
  width: 100%;
  max-width: 40rem;
  margin: 4rem auto 0 auto;
  order: 1;
  position: sticky;
  top: 2rem;

  a{
    border: none;
  }

  @media (min-width: 64rem){
    margin: 0 4rem 0 0;
    width: 16rem;
  }

}

/* --FOOTER */

footer{
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: auto auto 0;
  padding: 2rem;
  color: var(--bg3);

  @media (min-width: 64rem){
    max-width: 60rem;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 2rem;
    height: 1px;
    width: calc(100% - 4rem);
    background: var(--shd);
  }

  p{
    margin-bottom: 0;
  }

  a{
    color: var(--txt);

    &:hover{
      color: var(--acc);
    }

  }

}

/* --POSTS */

.post-summary{
  margin-bottom: 2rem;

  > *{
    margin-bottom: 0;
  }

  h2{
    margin-top: 0 !important;
  }

  .date{
    font-size: $font-size-small;
    color: var(--bg3);
  }

  .tag{
    background: var(--bg3);
  }
}

pre{
  margin: 2rem 0;

  & > code{
    padding: 2rem;
    border-radius: $radius;
    font-size: .8rem;
  }

}

// --TAGS

.tag{
  font-size: $font-size-small;
  padding: 0 .5rem;
  margin-right: .25rem;
  border-radius: $radius / 2;
  display: inline-block;
  background: var(--txt);
  color: var(--bg1);
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: 600;
  border: none;

  &:hover{
    color: var(--bg1);
    background: var(--acc);
    border: none;
  }
}

// --CARDS

.card{
  box-shadow: $shadow-soft;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: $radius;
  background: var(--bg1);
}

.author{
  display: grid;
  grid-template-rows: 5rem auto;
  grid-gap: 1rem;
  justify-items: center;
  text-align: center;
  

  *{
    margin: 0;
    line-height: 1.15;
  }
}

// --IMAGES

.img-avatar{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
}

// --ICONS

.icon {
  width: 1em;
  height: 1em;
  margin-right: .25em;
  position: relative;
  top: 2px;
  fill: currentColor;
}

// --intro (home)

.intro{
  font-size: $font-size-2;
  padding: 2rem 0 6rem;
}

// --UTILITY CLASSES

.mb-0{
  margin-bottom: 0;
}

@import "highlight.scss";