main{
    width: 100%;
    margin: 0 auto;
    padding: 4rem 2rem;
    max-width: 40rem;
  
    @media (min-width: 64rem){
      max-width: 60rem;
    }

    @media (max-width: 30rem){
      padding: 4rem 1rem;
    }
  
    .title{
      @media (min-width: 64rem){
        margin-bottom: 2rem;
      }
    }
  
    .content{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  
      @media (min-width: 64rem){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        &.reverse{
          flex-direction: row-reverse;
        }
      }
  
    }
  
    .content-main{
      width: 100%;
      max-width: 40rem;
      order: 2;

      &.full{
        max-width: 100%;
      }

      &.columns{
        max-width: 100%;
        @media (min-width: 64rem){
          display: grid;
          grid-gap: 4rem;
          grid-template-columns: 1fr 2fr;
        }

        &> :first-child{
          @media (max-width: 64rem){
            margin-bottom: 4rem;
          }
        }
        
      }
  
      a{
        text-decoration: underline;
      }

      h2{
        .icon{
          top: .25rem;
          margin: 0;
          opacity: .5;

          path, rect{
            fill: var(--bg3);
          }
        }
      }
    }
  
  }
  
  .content-meta{
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto 0 auto;
    order: 1;
    position: sticky;
    top: 2rem;
  
    a{
      border: none;
    }
  
    @media (min-width: 64rem){
      margin: 0 4rem 0 0;
      width: 16rem;

      .reverse &{
        margin: 0 0 0 4rem;
      }
    }
  
  }