<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-MX" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% include meta.html %}
</head>
<body>
  {% include header.html %}
  
  <main>
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
    
      <div class="content-main">
        {{ content }}
      </div>
    
      <div class="content-meta">
        
        {% include author.html %}

        {% assign month = page.date | date: '%m' | minus: 1%}
        <p>
          {% include icons/calendar.svg %}
          {{ site.data.months.names[month] }}
          {{ page.date | date: "%d, %Y" }}
        </p>

        <p>
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>

        <p class="mb-4">
          <a href="#respond">{% include icons/envelope.svg %} Responder por email</a><br>
          <a href="#respond">{% include icons/social-twitter.svg %} Responder via Twitter</a>
        </p>
      
      </div>
    
    </div>
  </main>
  {% include footer.html %}
</body>
</html>