<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-MX" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
  {% include header.html %}
  
  <main>
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
    
      <div class="content-main">
        {{ content }}
      </div>
    
      <div class="content-meta">
        
        <div class="card author">
          <img src="/assets/img/axel.jpg" alt="Axel Valdez" class="img-avatar">
          <p>
            <strong>Axel Valdez</strong><br>
            <small>Diseñador y Front-end Developer. Hermosillo, México.</small>
          </p>
        </div>

        {% assign month = page.date | date: '%m' | minus: 1%}
        <p>
          {% include icons/calendar.svg %}
          {{ site.data.months.names[month] }}
          {{ page.date | date: "%d, %Y" }}
        </p>

        <p class="mb-4">
          <a href="#respond">{% include icons/envelope.svg %} Responder por email</a><br>
          <a href="#respond">{% include icons/social-twitter.svg %} Responder via Twitter</a>
        </p>
        
        <p>
          {% for tag in page.tags %}
            <a href="" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
    
    </div>
  </main>
  {% include footer.html %}
</body>
</html>