<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-MX" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
  {% include header.html %}
  
  <main>
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
    
      <div class="content-main">
        {{ content }}
      </div>
    
      <div class="content-meta">
        
        <div class="author">
          <img src="https://www.fillmurray.com/g/200/200/" alt="Axel Valdez" class="img-avatar">
          <p>
            <strong>Axel Valdez</strong><br>
            <small>Diseñador y Front-end Developer. Hermosillo, México.</small>
          </p>
        </div>
        
        <p>Publicado en <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time>, bajo la categoría <a href="" class="tag">sass</a></p>
      </div>
    
    </div>
  </main>

  {% include footer.html %}
</body>
</html>