<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@axelvaldezmx" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:image" content="https://htmlycss.com/assets/img/htmlycss-sq.png" />

<meta property="og:title" content="{{site.title}}" />
<meta property="og:description" content="{{{ site.description }}" />
<meta property="og:image" content="https://htmlycss.com/assets/img/htmlycss-sq.png" />